#dashboard {
    a {
        height: 100px;
        align-content: center;
        color: var(--dark);
    }
}

@media screen and (max-width: 796px) {
    #dashboard div.grid {
        display: flex;
        flex-direction: column;
    }
}